<div class="marks-list">
  <div class="header">
    <h1>Marks</h1>
    <button mat-raised-button color="primary" (click)="openMarksForm()">
      <mat-icon>add</mat-icon>
      Record Marks
    </button>
  </div>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search marks</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Search by student or exam">
    <button mat-icon-button matSuffix (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-table [dataSource]="marks" class="marks-table">
    <ng-container matColumnDef="student_name">
      <mat-header-cell *matHeaderCellDef>Student</mat-header-cell>
      <mat-cell *matCellDef="let mark">{{mark.student_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="exam_title">
      <mat-header-cell *matHeaderCellDef>Exam</mat-header-cell>
      <mat-cell *matCellDef="let mark">{{mark.exam_title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="marks">
      <mat-header-cell *matHeaderCellDef>Marks</mat-header-cell>
      <mat-cell *matCellDef="let mark">{{mark.marks}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="total_marks">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let mark">{{mark.total_marks}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <mat-header-cell *matHeaderCellDef>Percentage</mat-header-cell>
      <mat-cell *matCellDef="let mark">{{getPercentage(mark.marks, mark.total_marks)}}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="exam_date">
      <mat-header-cell *matHeaderCellDef>Exam Date</mat-header-cell>
      <mat-cell *matCellDef="let mark">{{mark.exam_date | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let mark">
        <button mat-icon-button (click)="openMarksForm(mark)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteMarks(mark.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>