.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-field {
  width: 300px;
  margin-bottom: 20px;
}

.student-table {
  width: 100%;
}